.block1{
	min-height: 750px;
	background: url(../images/bg_block1.jpg);
}
.block1 .container{
	border-bottom: 1px solid #505369;
	padding-bottom: 29px;
	padding-top: 38px;
	margin-bottom: 155px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.logo{
	float: left;
}
.menu{
	float: right;
}

.menu a{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	opacity: 0.75;
	margin-left: 60px;
}

.clear{
	clear: both;
}

.title1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 65px;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 71px;
	margin-bottom: 46px;
}
.title1_sub{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #ffffff;
	line-height: 33px;
}

.button_block{
	text-align: center;
	margin-top: 80px;
}

.button1{
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	background-color: #e84545;
	padding: 18px 45px;
	display: inline-block;
}

/* mobile css */
@media (max-width: 1024px) {
	.container {
	display: flex;
    justify-content: space-between;
    margin: 0 5%;
	}
	.clear{
		display: none;
	}
}
@media (max-width: 992px) {
	.container {
		display: flex;
		flex-direction: column;
        align-items: center;
	}
	.menu{
		margin-top: 20px;
	}
	.menu a {
		margin: 0px 30px;
	}
}
@media (max-width: 768px) {
	.menu {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;
	}
	.menu a{
		padding-top: 20px;
	}
	.block1 .container{
		margin-bottom: 50px;
	}
	.title1{
		font-size: 45px;
		line-height: 50px;
	}
}